{% extends "base.html" %}
{% load widget_tweaks %}
{% block head %}
    <title>Login</title>
{% endblock %}

{% block content %}

<section class="section" id="reservation">
<div class="container">
<div class="row">
    <div class="col-lg-6 align-self-center">
        <div class="left-text-content">
            <div class="section-heading">
                <h6>Login </h6>
                <h2>Enter your user number and password to login now.</h2>
            </div>
        </div>
    </div>
      
<div class="col-lg-6">
    <div class="contact-form">
        <form id="contact" action="{% url 'login' %}" method="POST" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-12">
                <h4>Login</h4>
            </div>
            {% for field in form.visible_fields %}
            <div class="col-lg-6 col-sm-12">
              <fieldset>
                {{ field.label_tag }}
                    {% render_field field class="form-control" %}
                    {% if messages%}
                    {% for message in messages %}
                      <span style="color:red">{{ message }}</span>
                    {% endfor %}
                   {% endif %}
              </fieldset>
            </div>
            {% endfor %}
            <div class="col-lg-12">
              <fieldset>
                <button type="submit" id="form-submit" class="main-button-icon">Login</button>
              </fieldset>
            </div>
          </div>
        </form>
    </div>
  </div>
  </div>
  </div>
  </section>
  {% endblock content %}
  